.footer {
    margin-top: 50px;
    background-color: #FF0000;
    height: 55px;
    width: 100%;
    color: white;
    box-shadow: -1px 0 5px 0 #1D428A;
    font-family: "Times New Roman";
    position:fixed;
    bottom:0;
}

.unordered {
    padding-top: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: None;
}

.list > a{
    padding-right: 10px;
    color: white;
}