.App-logo {
    height: 35px;
    float: left;
    padding-left: 40px;
}

.App-header {
    background-color: #FF0000;
    height: 55px;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: -1px 0 5px 0 #1D428A;
    /*margin-bottom: 70px;*/
    font-family: "Times New Roman";
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.title > span {
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
}

.about {
    color: white;
    padding-right: 10px;
    font-size: 17px;
    font-weight: bold;
}
